{% extends "base.html" %}
{% load humanize %}
{%block contents%}


<div class="row mt-5">
<div class="col-12">
    <table class="table">
 <thead class="thead-light">
   <tr>
      <th>#</th>
      <th>상품</th>
      <th>수량</th>
      <th>주문 날짜</th>
   </tr>
 </thead>
 <tbody class="text-dark">
 {% for order in ordered_list%}
   <tr>
       <td>{{order.id}}</td>
      <td>{{order.product}}</td>
      <td>{{order.quantity|intcomma }} 개</td>
      <!-- intcomma를 이용하여 세자리마다 ,추가 -->
      <td>{{order.register_date| date:'Y-m-d H:i'}}</td>
   </tr>
   {%endfor%}
 </tbody> 

</table>
</div>
</div>
{%endblock%}

