{% extends "base.html" %}
{% load humanize %}
{%block contents%}
<div class="low mt-5">
    <div class="col-12">
        <div class="card">
            <div class="card-body" style="width: 100%;">
                <h5 class="card-title">{{product.name}}</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <form method = "POST" action="/order/create/">
                        <!-- post한것을 order/create로 보낸다 -->
                        {%csrf_token%}
                        {%for field in form%}
                        <div class="form-group">
                            {% ifnotequal field.name 'product'%}
                            <label for="{{field.id_for_label}}">{{field.label}}</label>
                            <input type="text" class="form-control" id={{field.id_for_label}}
                            placeholder="{{field.label}}" name="{{field.name}}">
                            {%else%}
                            <input type="hidden" class="form-control" id={{field.id_for_label}}
                            placeholder="{{field.label}}" name="{{field.name}}" value="{{product.id}}">
                             
                            {%endifnotequal%}
                            
                            
                        </div>
                        {%if field.errors%}
                        <span style="color: red">{{field.errors}}</span>
                        {%endif%}
                        {%endfor%}
                        <button type="submit" class="btn btn-primary">주문하기</button>
                        
                    </form>
                </li>
                <li class="list-group-item">{{product.price|intcomma}}</li>
                <li class="list-group-item">{{product.register_date|date:'y-m-d H:i'}}</li>
                <li class="list-group-item">{{product.description|safe}}</li>
                <li class="list-group-item">{{product.stock|intcomma}}개</li>
            </ul>
        </div>

    </div>
</div>
<div class="row mt3">
    <div class="col-12 text-center">
        <a href="/product/"> 목록보기</a>
    </div>
</div>

{%endblock%}