{% extends "base.html" %}
{% load humanize %}
{% block header %}
<script>
// 이렇게 화면이 준비가 되었을 때 ajax요청을 하여 api호출

function product_detail(id){
  $.ajax({
  url: "/api/product/" + id,
  success: function( result ) {
    $("#product-" +id).popover({
      html:true,
      content: result.name + " " + result.price

    }).popover("show");
  }
});
}
function product_leave(id){
  $("#product-" + id).popover("hide");
}


$(document).ready(function(){
   
});
</script>
{% endblock %}

{%block contents%}

<!-- 
ajax를 이용하여 jquery를 한다. 원래는 화면이 바뀔때마다 요청을 받지만
이런식으로 jquery를 하면 화면이 바뀌지 않아도 화면에 원하는 것을 띄울 수 있다.
-> 이것이 프론트엔드와 벡앤드를 구분지을 수 있게 하는 것 -->


<div class="row mt-5">
<div class="col-12">  
  <table class="table">
 <thead class="thead-light">
   <tr>
      <th>#</th>
      <th>상품</th>
      <th>가격</th>
      <th>등록일</th>
   </tr>
 </thead>
 <tbody class="text-dark">
 {% for product in object_list%}
   <tr>
       <td>{{product.id}}</td>
      <td><a id= "product-{{product.id}}"href="/product/{{product.id}}" onmouseenter="product_detail({{ product.id }})" onmouseleave="product_leave({{product.id}})">{{product.name}}</a></td>
      <td>{{product.price|intcomma }}원</td>
      <!-- intcomma를 이용하여 세자리마다 ,추가 -->
      <td>{{product.register_date|date:'y-m-d H:i'}}</td>
   </tr>
   {%endfor%}
 </tbody> 

</table>
</div>
  <br>  
<div class="col-12"><a href="/order">장바구니</a></div>
  <br>
<div class="col-12">
  <br>
  <p><a href="/">홈으로</a></p>
</div>

</div>


{%endblock%}

